html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
*:focus { outline: 0; }
html, body { height: 100%; }
body { line-height: 1em; color: black; background: #fff; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }
q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }
img a { border: none; }

body { overflow-y: scroll; background-color: #fcfcfc; font-size: 16px; font-family: Helvetica, Arial; line-height: 27px; }
body strong { font-weight: bold; }
body em { font-style: italic; }
body small { font-size: 0.85em; }
body pre { margin: 0; }
body pre code { display: block; margin: 9px auto; overflow: visible; padding: 18px; white-space: pre; font-family: Monaco, monospace; font-size: 12px; line-height: 20px; background-color: black; color: #23a2d9; }